<%
const skillItems = {
    farming: 'icon-294_0',
    mining: 'icon-274_0',
    combat: 'icon-272_0',
    foraging: 'icon-6_3',
    fishing: 'icon-346_0',
    enchanting: 'icon-116_0',
    alchemy: 'icon-379_0',
    carpentry: 'icon-58_0',
    runecrafting: 'icon-378_0'
};

const romanize = num => {
	if (!+num)
		return false;
	var	digits = String(+num).split(""),
		key = ["","C","CC","CCC","CD","D","DC","DCC","DCCC","CM",
		       "","X","XX","XXX","XL","L","LX","LXX","LXXX","XC",
		       "","I","II","III","IV","V","VI","VII","VIII","IX"],
		roman = "",
		i = 3;
	while (i--)
		roman = (key[+digits.pop() + (i * 10)] || "") + roman;
	return Array(+digits.join("") + 1).join("M") + roman;
};

const skillRequirements = [110,190,275,385,505,645,790,940,1100,1370,1570,1800,2090,2400,2720,3100,3600,4150,4800,5300,5900,6750,7750,8900,10200,11650,13300,15200,17150,19600,22100,24900,28000,31500,35500,39900,44700,50000,55800,62000,68800,76400,84700,93800,103800,114800,126800,140000,154500,170300,187600,206500,227000,249500,274000,300500,329500,361000,395000,432200,472300,515800,562800,613700,668600,728000,792000,860000,935000,1040400,1154400,1282600,1414800,1567500,1730400,1837000,1954800,2077600,2194400,2325600,2455000,2645000,2845000,3141100,3404710,3782160,4151400,4604100,5057300,5533840,6087120,6685120,7352800,8080800,8725600,9578400,10545600,11585600,12740000,14418250,16280000,21196500,200268440]

const skill_component = (skill, icon, level) => { %>
	<% var progress = level.xp / skillRequirements[level.level] %>
	<div class="skill xp-skill <%= level.level == 132 ? 'maxed-skill' : ''%>">
		<div class="skill-icon"><div class="item-icon <%= icon %>"></div><% if(level.level == 132){ %><div class="piece-shine"></div><% } %></div>
		<div class="skill-name"><%= skill %> <span class="skill-level"><%= level.level >= 0 ? level.level : '?' %></span></div>
		<div class="skill-bar" data-skill="<%= skill %>">
			<div class="skill-progress-bar" style="width: <%= level.level == 132 ? 100 : progress * 100 %>%"></div>
		</div>
	</div>
<% };

const stat_component = stat => {
	%>
	<div data-stat="<%= stat.name %>" class="basic-stat stat-<%= stat.name.replace(/\_/g, "-") %>">
		<span data-tippy-content="
		<span class='stat-name'>Base <%= helper.titleCase(stat.name.replace(/\_/g, " ")) %>: </span><span class='stat-value'><%= stat.value.toLocaleString() %><%= stat.suffix || '' %></span>
		<div class='tippy-explanation'><% if(stat.baseExplanation){ %><%= stat.baseExplanation %><% } %></div>"><span class="stat-name"><%= stat.prettyName || helper.titleCase(stat.name.replace(/\_/g, " ")) %> </span><span class="stat-value"><%= stat.value.toLocaleString() %><%= stat.suffix || '' %></span></span>
	</div>
<% };

%>
<!DOCTYPE html>
<html lang="en">
<head>
	<title>sky.lea.moe</title>
	<link rel="shortcut icon" href="https://crafatar.com/avatars/<%- player.uuid %>?size=32&overlay" type="image/png">
	<meta property="og:type" content="website">
	<meta property="og:title" content="<%- player.username %>(<%= mainClass.name %>)">
	<meta property="og:image" content="https://crafatar.com/avatars/<%- player.uuid %>?size=256&overlay">
	<meta property="twitter:image" content="https://crafatar.com/avatars/<%- player.uuid %>?size=256&overlay">
<%- include('../includes/resources') %>
</head>
<body>
    <%- include('../includes/header') %>
    <div id="dimmer"></div>
    <video id="enable_api" loop>
        <source type="video/webm" src="/resources/video/enable_api.webm"></source>
        <source type="video/mp4" src="/resources/video/enable_api.mp4"></source>
    </video>
    <div id="bg_blur"></div>
    <div id="stats_content">
        <div class="item-name">
            <div></div><span></span><div class="close-lore"></div></div>
        <div class="item-lore"></div>
        <div class="backpack-contents"></div>
    </div>
    <div id="skin_display">
			<div id="player_model"></div>
    </div>
    <div id="wrapper" data-sticky-container>
			<div id="player_profile"><span class="text-stats-for">Stats for</span>
			<div tabindex="1" id="stats_for_player">
				<%- player.meta.tag.value %>
				<%= player.username %>
			</div><span class="text-on"> on </span><div tabindex="2" id="stats_for_profile">
				<%= mainClass.name %>
				<div id="other_profiles">
						<% for(let _class of allClasses){ %>
								<a class="goto" href="/stats/<%= player.uuid %>/<%= _class.name %><%= Object.keys(req.query).length > 0 ? '?' + new URLSearchParams(req.query).toString() : '' %>"><%= _class.name %></a>
						<% } %>
				</div>
			</div>
			<div id="additional_player_stats">
				<% if(player.guild.name){ %><div class="additional-player-stat interactive-tooltip" data-tippy-content="
				<% if(player.guild.rank){ %><span class='stat-name'>Rank: </span><span class='stat-value'><%= player.guild.rank %></span><% } %>
				">Guild: <%= player.guild.name %></div><% } %>
				<a href="https://wynncraft.com/stats/player/<%= player.username %>" target="_blank" rel="nofollow" class="additional-player-stat external-link">Wynncraft</a>
				<a href="https://www.wynndata.tk/stats/player/<%= player.username %>" target="_blank" rel="nofollow" class="additional-player-stat external-link">Wynndata</a>
				<div id="additional_socials">
						<div data-copy-text="<%= player.uuid %>" class="copy-text additional-player-stat">Copy UUID</div>
						<div class="additional-player-stat" id="reveal_socials"></div>
				</div>
			</div>
		</div>
		<div id="basic_stats">
			<div id="base_stats_container">
				<%- stat_component({
					name: 'total_level',
					value: mainClass.level
				}) %>
				<%- stat_component({
					name: 'combat_level',
					value: mainClass.professions.combat.level
				}) %>
				<%- stat_component({
					name: 'hours_played',
					value: Math.round(mainClass.playtime / 60 * 4.7)
				}) %>
				<%- stat_component({
					name: 'logins',
					value: mainClass.logins
				}) %>
				<%- stat_component({
					name: 'deaths',
					value: mainClass.deaths
				}) %>
				<%- stat_component({
					name: 'mobs_killed',
					value: mainClass.mobsKilled
				}) %>
				<%- stat_component({
					name: 'chests_found',
					value: mainClass.chestsFound
				}) %>
				<div id="skin_display_mobile"></div>
			</div>
			<div id="skill_levels_container">
				<div id="other_skills">
					<%= skill_component('Woodcutting', 'icon-6_3', mainClass.professions.woodcutting) %>
					<%= skill_component('Mining', 'icon-274_0', mainClass.professions.mining) %>
					<%= skill_component('Fishing', 'icon-346_0', mainClass.professions.fishing) %>
					<%= skill_component('Farming', 'icon-294_0', mainClass.professions.farming) %>
					<%= skill_component('Alchemism', 'icon-379_0', mainClass.professions.alchemism) %>
					<%= skill_component('Armouring', 'icon-272_0', mainClass.professions.armouring) %>
					<%= skill_component('Cooking', 'icon-346_0', mainClass.professions.cooking) %>
					<%= skill_component('Jeweling', 'icon-378_0', mainClass.professions.jeweling) %>
					<%= skill_component('Scribing', 'icon-58_0', mainClass.professions.scribing) %>
					<%= skill_component('Tailoring', 'icon-58_0', mainClass.professions.tailoring) %>
					<%= skill_component('Weaponsmithing', 'icon-272_0', mainClass.professions.weaponsmithing) %>
					<%= skill_component('Woodworking', 'icon-6_3', mainClass.professions.woodworking) %>

				</div>
			</div>
		</div>
    </div>
    <%- include('../includes/footer'); %>
		<script>
			let calculated = <%- JSON.stringify(player) %>;
    </script>
</body>
</html>
